services:
  qdrant_db_node:
    image: docker.io/qdrant/qdrant:v1.15
    container_name: "qdrant_db_node"
    ports:
      - "6333:6333"
    volumes:
      - ./docker/volumes/qdrant_storage_node_1:/qdrant/storage
    restart: unless-stopped
    env_file:
      - .env
    command: "./qdrant --uri http://qdrant_db_node:6335"
    healthcheck:
      test: curl -s http://0.0.0.0:6333/healthz | grep -q 'healthz check passed' || exit 1
      interval: 30s
      retries: 20
      start_period: 30s
    ulimits:
      fsize: 5368709120
      nofile: 65536

networks:
  genai_network:
    driver: bridge